# Environments
.env
.env.*
!*.example

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# Logs
*.log

# Node
node_modules/
dist/
build/

# Vite
.vite/
.cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
